body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

#banner{
    font-size: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4.5vw 0px 5vw 0px;
}

.container {
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    width: 70%;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


input[type=login] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    width:67%;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin: 50px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=secret] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    width:60%;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin: 50px;
    padding-left: 0px;
    color: #ECF0F5;
}


select {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    width:40%;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin: 50px 0px;
    padding-left: 0px;
    color: #ECF0F5;
}

.button {
    margin: 25px .5vw .5vw .5vw;
    padding:1vw;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #0DB8DE;
    border-color: #0DB8DE;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}


.form-control-label {
    font-size: 16px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.button:hover {
    background-color: #0DB8DE;
    color: white;
    right: 0px;
}

.button {
    padding-right: 0px;
    margin-bottom: 25px;
}

#created {
    color: #0DB8DE;
    display: none;
}